/* base */

body {
  margin: 0;
  padding: 0;
  font-family: avenir next, avenir, ubuntu, roboto, sans-serif;
}

p {
  margin-top: 0;
}

code {
  background: #f1f1f1;
  padding: 0.125rem 0.25rem;
}

/* components */

.divider {
  height: 6px;
  width: 12rem;
  background-color: #eee;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.btn-link,
.btn-link:hover {
  text-decoration: underline;
}

/* misc utilities */

.container {
  max-width: 960px;
}

.caps {
  letter-spacing: 0.1em;
}

.rounded,
.btn-primary {
  border-radius: 5px;
}

.bg-light {
  background-color: #f5f5f5;
}

.bg-orange {
  background-color: #d85637;
}

.aspect-ratio {
  height: 0;
  position: relative;
}

.aspect-ratio--1x1 {
  padding-bottom: 100%;
}

.aspect-ratio--object {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

@media (min-width: 52em) {
  .md-col-8th {
    width: 12.5%;
  }
}

/* for animated imgs */

@keyframes fade {
  0% {
    opacity: 1;
  }
  11% {
    opacity: 1;
  }
  17% {
    opacity: 0;
  }
  94% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated img {
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 9s;
}

.animated img:nth-of-type(1) {
  animation-delay: 7.5s;
}
.animated img:nth-of-type(2) {
  animation-delay: 6s;
}
.animated img:nth-of-type(3) {
  animation-delay: 4.5s;
}
.animated img:nth-of-type(4) {
  animation-delay: 3s;
}
.animated img:nth-of-type(5) {
  animation-delay: 1.5s;
}
.animated img:nth-of-type(6) {
  animation-delay: 0;
}
